<style>
  .partners {
    background-image: url("../images/section-background.png");
  }
</style>
<div class="banner text-center">
  <img src="images/bg.jpg" class="d-block w-100" />
</div>
<div class="container content mt-5 pt-5 text-center">
  <div class="about mb-5">
    <h1 class="pb-4 border-bottom mb-5">About Us</h1>
    <p style="padding: 0 180px">
      This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit
      auctor aliquet. Aenean sollicitudin, loreendum auctor nisi elit consequat
      ipsum, nec sagittis sem nibh id elit. vulputate cursus a sit amet mauris.
      Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a
      ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class
      aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus
      condimentum sit amet a augue. Sed non neque elit
    </p>
    <img class="mt-5 pt-5" src="images/C-Plane.png" width="300px" />
  </div>

  <div class="map">
    <iframe
      class="w-100 border rounded-4"
      src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3724.5323013304564!2d105.782246!3d21.011377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjHCsDAwJzQxLjAiTiAxMDXCsDQ2JzU2LjEiRQ!5e0!3m2!1svi!2s!4v1710141802493!5m2!1svi!2s"
      style="height: 400px"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
<div class="partners text-center mt-5 pb-2">
  <div class="container mt-5">
    <div class="row py-3">
      <img
        class="col p-0"
        src="https://mixivivu.com/flight-partners/flight-partner-0.png"
        alt=""
      />
      <img
        class="col p-0"
        src="https://mixivivu.com/flight-partners/flight-partner-1.png"
        alt=""
      />
      <img
        class="col p-0"
        src="https://mixivivu.com/flight-partners/flight-partner-2.png"
        alt=""
      />
      <img
        class="col p-0"
        src="https://mixivivu.com/flight-partners/flight-partner-3.png"
        alt=""
      />
      <img
        class="col p-0"
        src="https://mixivivu.com/flight-partners/flight-partner-4.png"
        alt=""
      />
    </div>
  </div>
</div>
<section class="subscribe text-center pt-5">
  <div class="pb-5 container d-flex justify-content-center">
    <div class="div mb-5">
      <h1 class="font-style">Make memories with us</h1>
      <div class="social-media my-5">
        <div class="row mx-5 px-5">
          <div class="col px-0"></div>
          <div class="col px-0">
            <img src="images/instagram.png" alt="" width="25px" />
          </div>
          <div class="col px-0">
            <img src="images/facebook.png" alt="" width="25px" />
          </div>
          <div class="col px-0">
            <img src="images/youtube.png" alt="" width="25px" />
          </div>
          <div class="col px-0">
            <img src="images/twitter.png" alt="" width="25px" />
          </div>
          <div class="col px-0"></div>
        </div>
      </div>
      <form class="subscribe__form d-flex mt-5">
        <input
          type="text"
          class="form-control me-2 rounded-pill"
          placeholder="Subscribe newsletter and get latest news"
        />
        <button class="btn btn-primary rounded-pill px-4 py-2">
          Subscribe
        </button>
      </form>
    </div>
  </div>
</section>
