<link rel="stylesheet" href="css/book-ticket.css" /> 
  

<div class="step step-2 p-5 container mt-5 inf-passenger">
  <div class="row d-flex justify-content-between">
    <div class="col-12 border rounded-4 bg-light">
      <div class="row">
        <div class="form-buy-ticket px-4">
          <p class="fw-bold fs-5 mt-4">Add Flight</p>
          <form>
            <div class="row">
              <div class="mb-3 col">
                <label for="" class="form-label"
                  >Code<span class="text-danger">*</span>
                </label>
                <input
                  type="text"
                  class="form-control rounded-pill"
                  placeholder="Code"
                />
              </div>
              <div class="mb-3 col">
                <label for="" class="form-label"
                  >Last Name <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control rounded-pill"
                  placeholder="Last Name"
                />
              </div>
              <div class="mb-3 col">
                <label for="" class="form-label rounded-pill"
                  >Gender <span class="text-danger">*</span></label
                >
                <select
                  class="form-select form-select rounded-pill"
                  name=""
                  id=""
                >
                  <option selected>-- Select --</option>
                  <option value="">Male</option>
                  <option value="">Female</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="mb-3 col">
                <label for="" class="form-label"
                  >Email <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control rounded-pill"
                  placeholder="Email"
                />
              </div>
              <div class="mb-3 col">
                <label for="" class="form-label"
                  >Phone Number <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control rounded-pill"
                  placeholder="Phone Number"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> 
</div> 

<div class="partners text-center mt-5 pb-2">
  <div class="container pt-5">
    <div class="row py-3">
      <img
        class="col p-0"
        src="https://mixivivu.com/flight-partners/flight-partner-0.png"
        alt=""
      />
      <img
        class="col p-0"
        src="https://mixivivu.com/flight-partners/flight-partner-1.png"
        alt=""
      />
      <img
        class="col p-0"
        src="https://mixivivu.com/flight-partners/flight-partner-2.png"
        alt=""
      />
      <img
        class="col p-0"
        src="https://mixivivu.com/flight-partners/flight-partner-3.png"
        alt=""
      />
      <img
        class="col p-0"
        src="https://mixivivu.com/flight-partners/flight-partner-4.png"
        alt=""
      />
    </div>
  </div>
</div>

