<link rel="stylesheet" href="css/book-ticket.css" />

<div
  class="step step-1 form-search border rounded-5 p-5 bg-light container mt-5"
>
  <div class="form">
    <form action="#" method="post">
      <div class="row">
        <div class="mb-3 col">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name=""
              id=""
              value="1"
            />
            <label class="form-check-label" for="">Roundtrip</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name=""
              id=""
              value="1"
            />
            <label class="form-check-label" for="">One way</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name=""
              id=""
              value="1"
            />
            <label class="form-check-label" for="">Multi-City</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col">
          <label for="" class="form-label">FROM</label>
          <input type="text" class="form-control rounded-pill" />
        </div>

        <div class="mb-3 col">
          <label for="" class="form-label">TO</label>
          <input type="text" class="form-control rounded-pill" />
        </div>
        <div class="mb-3 col">
          <label for="" class="form-label">DEPART</label>
          <input type="date" class="form-control rounded-pill" />
        </div>
        <div class="mb-3 col">
          <label for="" class="form-label">RETURN</label>
          <input type="date" class="form-control rounded-pill" />
        </div>
        <div class="mb-3 col">
          <label for="" class="form-label">PASSENGER</label>
          <input type="number" class="form-control rounded-pill" />
        </div>
        <div class="mb-3 col">
          <label for="" class="form-label">SEARCH</label>
          <a href="#!/book-ticket" class="btn btn-info w-100 py-2 rounded-pill"
            >Search</a
          >
        </div>
      </div>
    </form>
  </div>
</div> 
<div class="container my-5 inf-search">
  <div class="row d-flex justify-content-between">
    <div class="border rounded-4 bg-light">
      <div class="pt-3"></div>
      <div class="list-flight" ng-repeat="flight in flights">
        <div
          class="row border rounded-3 d-flex justify-content-center mx-4 my-3"
        >
          <div class="schedule row py-2">
            <div class="col">
              <div class="row d-flex align-items-center justify-content-center">
                <div class="col p-0 d-flex justify-content-center">
                  <img src="{{flight.company.image}}" width="50px" class="p-0" />
                </div>
                <div class="col p-0">
                  <div class="codeAir fw-bold" style="font-size: 14px">
                    {{flight.code}}
                  </div>
                  <div class="nameAir" style="font-size: 14px">
                    {{flight.company.name}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col d-flex justify-content-center">
              <div class="row d-flex align-items-center justify-content-center">
                <div class="col p-0 text-center">
                  <div class="timeDepart fw-bold" style="font-size: 14px">
                    {{formatDate(flight.departure)}}
                  </div>
                  <div class="codeDepart" style="font-size: 14px">
                    {{flight.from.code}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col d-flex justify-content-center">
              <div class="row d-flex align-items-center justify-content-center">
                <div class="col p-0 text-center">
                  <div class="timeReturn fw-bold" style="font-size: 14px">
                    {{formatDate(flight.arrival)}}
                  </div>
                  <div class="timeReturn" style="font-size: 14px">
                    {{flight.to.code}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col d-flex justify-content-center">
              <div class="row d-flex align-items-center justify-content-center">
                <div class="col p-0 text-center">
                  <div
                    class="price fw-bold text-success"
                    style="font-size: 14px"
                  >
                    {{flight.price | number}} VND
                  </div>
                  <div class="unit" style="font-size: 14px">VND</div>
                </div>
              </div>
            </div>
            <div class="col d-flex justify-content-center">
              <div class="row d-flex align-items-center justify-content-center">
                <a
                  name=""
                  id=""
                  class="btn btn-info rounded-pill px-5 btn-step"
                  data-step="2"
                  role="button"
                  href="#!/pay"
                  >Buy</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="partners text-center mt-5 pb-2">
  <div class="container pt-5">
    <div class="row py-3">
      <img
        class="col p-0"
        src="https://mixivivu.com/flight-partners/flight-partner-0.png"
        alt=""
      />
      <img
        class="col p-0"
        src="https://mixivivu.com/flight-partners/flight-partner-1.png"
        alt=""
      />
      <img
        class="col p-0"
        src="https://mixivivu.com/flight-partners/flight-partner-2.png"
        alt=""
      />
      <img
        class="col p-0"
        src="https://mixivivu.com/flight-partners/flight-partner-3.png"
        alt=""
      />
      <img
        class="col p-0"
        src="https://mixivivu.com/flight-partners/flight-partner-4.png"
        alt=""
      />
    </div>
  </div>
</div>
