<link rel="stylesheet" href="css/book-ticket.css" />
 
<div class="step step-3 p-5 container inf-confirm">
  <div class="row d-flex justify-content-between">
    <div class="col border rounded-4 bg-light">
      <div class="row border-bottom">
        <div
          class="py-3 ps-4 row d-flex align-items-center justify-content-center text-center"
        >
          <img src="images/success-35.svg" style="width: 8%" />
          <p class="fw-bold mt-3" style="color: #6bc839; font-size: 20px">
            Your booking is confirmed
          </p>
        </div>
      </div>
      <div class="row ps-5">
        <div class="row">
          <p class="fw-bold fs-5 mt-4 mb-5">Passenger information</p>
        </div>
        <div class="row mb-5">
          <div class="col">
            <div class="fw-bold text-secondary fs-6">FullName</div>
            <div class="fw-bold fs-6">Van Thanh</div>
          </div>
          <div class="col">
            <div class="fw-bold text-secondary fs-6">Gender</div>
            <div class="fw-bold fs-6">Male</div>
          </div>
          <div class="col">
            <div class="fw-bold text-secondary fs-6">Check in</div>
            <div class="fw-bold fs-6">17:30, 12/03/2024</div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col">
            <div class="fw-bold text-secondary fs-6">Email</div>
            <div class="fw-bold fs-6">Blackwhilee04@gmail.com</div>
          </div>
          <div class="col">
            <div class="fw-bold text-secondary fs-6">Phone</div>
            <div class="fw-bold fs-6">0256485674</div>
          </div>
          <div class="col">
            <div class="fw-bold text-secondary fs-6">Booking Number</div>
            <div class="fw-bold fs-6">#VJ52458</div>
          </div>
        </div>
        <div class="row mb-5 border rounded-4 text-center">
          <p class="fw-bold fs-5 mt-4">Payment Reminder</p>
          <p class="mb-5">
            We will send you an early payment email as soon as possible. Please
            keep an eye on your inbox.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="partners text-center mt-5 pb-2">
  <div class="container pt-5">
    <div class="row py-3">
      <img
        class="col p-0"
        src="https://mixivivu.com/flight-partners/flight-partner-0.png"
        alt=""
      />
      <img
        class="col p-0"
        src="https://mixivivu.com/flight-partners/flight-partner-1.png"
        alt=""
      />
      <img
        class="col p-0"
        src="https://mixivivu.com/flight-partners/flight-partner-2.png"
        alt=""
      />
      <img
        class="col p-0"
        src="https://mixivivu.com/flight-partners/flight-partner-3.png"
        alt=""
      />
      <img
        class="col p-0"
        src="https://mixivivu.com/flight-partners/flight-partner-4.png"
        alt=""
      />
    </div>
  </div>
</div>

