<link rel="stylesheet" href="css/book-ticket.css" />

<div class="p-5 container mt-5 inf-passenger">
  <div class="row d-flex justify-content-between">
    <div class="col-12 border rounded-4 bg-light">
      <div class="row">
        <div class="form-buy-ticket px-4">
          <p class="fw-bold fs-5 mt-4">Edit Flight</p>
          <form class="mb-5">
            <div class="row">
              <div class="mb-3 col">
                <label for="" class="form-label"
                  >Code<span class="text-danger">*</span>
                </label>
                <input
                  type="text"
                  class="form-control rounded-pill"
                  placeholder="Code"
                  ng-model="inputValue.code"
                />
              </div>
              <div class="mb-3 col">
                <label for="" class="form-label"
                  >Company<span class="text-danger">*</span>
                </label>
                <select
                  class="form-select rounded-pill"
                  ng-model="inputValue.company.name"
                >
                  <option value="" selected disabled>Company</option>
                  <option
                    ng-repeat="company in companies"
                    value="{{company.name}}"
                  >
                    {{company.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="mb-3 col">
                <label for="" class="form-label"
                  >From<span class="text-danger">*</span>
                </label>
                <select
                  class="form-select rounded-pill"
                  ng-model="inputValue.from.code"
                >
                  <option value="" selected disabled>From</option>
                  <option
                    ng-repeat="airport in airports"
                    value="{{airport.code}}"
                  >
                    {{airport.name}}
                  </option>
                </select>
              </div>
              <div class="mb-3 col">
                <label for="" class="form-label"
                  >Departure<span class="text-danger">*</span>
                </label>
                <input
                  type="datetime-local"
                  class="form-control mb-3 rounded-pill"
                  placeholder="Departure"
                  ng-model="inputValue.departure"
                  ng-init="inputValue.departure = inputValue.departure"
                />
              </div>
              <div class="mb-3 col">
                <label for="" class="form-label"
                  >To<span class="text-danger">*</span>
                </label>
                <select
                  class="form-select rounded-pill"
                  ng-model="inputValue.to.code"
                >
                  <option value="" selected disabled>To</option>
                  <option
                    ng-repeat="airport in airports"
                    value="{{airport.code}}"
                  >
                    {{airport.name}}
                  </option>
                </select>
              </div>
              <div class="mb-3 col">
                <label for="" class="form-label"
                  >Arrival<span class="text-danger">*</span>
                </label>
                <input
                  type="datetime-local"
                  class="form-control mb-3 rounded-pill"
                  placeholder="Arrival"
                  ng-model="inputValue.arrival"
                  ng-init="inputValue.arrival = inputValue.arrival"
                />
              </div>
            </div>
            <div class="row">
              <div class="mb-3 col">
                <label for="" class="form-label"
                  >Price<span class="text-danger">*</span>
                </label>
                <input
                  type="text"
                  class="form-control mb-3 rounded-pill"
                  placeholder="Price"
                  ng-model="inputValue.price"
                />
              </div>
            </div>
            <div class="row mt-2">
              <span class="text-danger" ng-if="check.code == true"
                >• Please enter the flight code.</span
              >
              <span class="text-danger" ng-if="check.company == true"
                >• Please select the flight company.</span
              >
              <span class="text-danger" ng-if="check.from == true"
                >• Please select the departure point.</span
              >
              <span class="text-danger" ng-if="check.to == true"
                >• Please select the arrival point.</span
              >
              <span class="text-danger" ng-if="check.departure == true"
                >• Please enter the departure time.</span
              >
              <span class="text-danger" ng-if="check.arrival == true"
                >• Please enter the arrival time.</span
              >
              <span class="text-danger" ng-if="check.price == true"
                >• Please enter the price.</span
              >
              <span class="text-danger" ng-if="check.tft == true"
                >• Departure point and arrival point cannot be the same.</span
              >
              <span class="text-danger" ng-if="check.departureTime == true"
                >• The departure time is invalid.</span
              >
              <span class="text-danger" ng-if="check.arrivalTime == true"
                >• The arrival time is invalid.</span
              >
            </div>
            <div class="row">
              <div
                class="mb-3 col d-flex align-items-end justify-content-center"
              >
                <a href="#!/admin" class="btn btn-secondary me-3"> Cancel </a>
                <button ng-click="edit()" class="btn btn-primary">
                  Edit Flight
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
