<section>
  <h2>Table</h2>
  <p>A table display a collection of data grouped into rows.</p>
  <div class="table-responsive">
    <h2 class="py-4">Table</h2>
    <a href="#!/add" class="btn btn-info mb-3">Add</a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Office</th>
          <th scope="col">Age</th>
          <th scope="col">Start date</th>
          <th scope="col">Salary</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>CA</td>
          <td>21</td>
          <td>2018/04/21</td>
          <td>$110.800</td>
          <td>
            <span class="badge bg-danger">Pending</span>
          </td>
          <td>
            <a href="#!/edit"><span class="badge bg-warning">Edit</span></a>
          </td>
        </tr> 
        <tr>
          <td>Mark</td>
          <td>CA</td>
          <td>21</td>
          <td>2018/04/21</td>
          <td>$110.800</td>
          <td>
            <span class="badge bg-danger">Pending</span>
          </td>
          <td>
            <a href="#!/edit"><span class="badge bg-warning">Edit</span></a>
          </td>
        </tr> 
        <tr>
          <td>Mark</td>
          <td>CA</td>
          <td>21</td>
          <td>2018/04/21</td>
          <td>$110.800</td>
          <td>
            <span class="badge bg-danger">Pending</span>
          </td>
          <td>
            <a href="#!/edit"><span class="badge bg-warning">Edit</span></a>
          </td>
        </tr> 
        <tr>
          <td>Mark</td>
          <td>CA</td>
          <td>21</td>
          <td>2018/04/21</td>
          <td>$110.800</td>
          <td>
            <span class="badge bg-danger">Pending</span>
          </td>
          <td>
            <a href="#!/edit"><span class="badge bg-warning">Edit</span></a>
          </td>
        </tr> 
      </tbody>
    </table>
    <p>Table - 5 rows</p>
  </div>
</section>
