<section>
  <div class="table-responsive mt-2">
    <h2 class="py-4">Table</h2>
    <a href="#!/add" class="btn btn-info mb-3">Add Product</a>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>CA</td>
          <td>$6,000</td>
          <td>
            <a href="#!/edit"><span class="badge bg-warning">Edit</span></a>
            <a href="#!/delete"><span class="badge bg-danger">Delete</span></a>
          </td>
        </tr>    
      </tbody>
    </table>
  </div>
</section>
