<!-- Contact 1 - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5">
  <h2 class="text-center">Edit Item</h2>
  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col-12 mt-2 col-lg-9">
        <div class="bg-white border rounded shadow-sm overflow-hidden">
          <form action="#!">
            <div class="row gy-4 gy-xl-5 p-4 p-xl-5">
              <div class="col-12 mt-4">
                <label for="fullname" class="form-label"
                  >Name <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="fullname"
                  name="fullname"
                  value=""
                  required
                />
              </div>
              <div class="col-12 mt-2">
                <div class="mb-3">
                  <label for="" class="form-label">Office</label>
                  <select class="form-select form-select" name="" id="">
                    <option selected>-- Select --</option>
                    <option value="">New Delhi</option>
                    <option value="">Istanbul</option>
                    <option value="">Jakarta</option>
                  </select>
                </div>
              </div>
              <div class="col-12 mt-2">
                <label for="fullname" class="form-label"
                  >Age <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="fullname"
                  name="fullname"
                  value=""
                  required
                />
              </div>
              <div class="col-12 mt-2">
                <label for="fullname" class="form-label"
                  >Start date <span class="text-danger">*</span></label
                >
                <input
                  type="date"
                  class="form-control"
                  id="fullname"
                  name="fullname"
                  value=""
                  required
                />
              </div>
              <div class="col-12 mt-2">
                <label for="fullname" class="form-label"
                  >Salary <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="fullname"
                  name="fullname"
                  value=""
                  required
                />
              </div>
              <div class="col-12 mt-2">
                <div class="mb-3">
                  <label for="" class="form-label">Status</label>
                  <select class="form-select form-select" name="" id="">
                    <option value="">Pending</option>
                    <option value="">Istanbul</option>
                    <option value="">Jakarta</option>
                  </select>
                </div>
              </div>
              <div class="col-12 mt-2">
                <button type="submit" class="btn btn-primary">Edit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
